<div class="dashboard-container container mt-5">
  <h2 class="mb-4 fw-bold text-white">Manager Dashboard</h2>

  <div class="row g-4">

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-people fs-1 mb-2"></i>
        <h5 class="fw-bold">Staff Management</h5>
        <p>Manage staff accounts and roles</p>
        <a routerLink="/manager/CreateStaff" class="btn">Go</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-graph-up fs-1 mb-2"></i>
        <h5 class="fw-bold">User Activity</h5>
        <p>Monitor user transactions and activity</p>
        <a routerLink="/manager/UserActivity" class="btn">Go</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-cash-stack fs-1 mb-2"></i>
        <h5 class="fw-bold">Loan Support</h5>
        <p>Handle loan applications and approvals</p>
        <a routerLink="/manager/LoanSupport" class="btn">Go</a>
      </div>
    </div>



  </div>
</div>
