<div class="dashboard-container container mt-5">
<h2 class="mb-4 fw-bold text-white">Customer Dashboard</h2>

  <div class="row g-4">

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-wallet2 fs-1 mb-2"></i>
        <h5 class="fw-bold">Account Management</h5>
        <p>View account details & update personal info</p>
        <a routerLink="/customer/account" class="btn">Go</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-file-earmark-text fs-1 mb-2"></i>
        <h5 class="fw-bold">Loan Application</h5>
        <p>Apply for loans and track status</p>
        <a routerLink="/customer/loan" class="btn">Go</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-file-earmark-text fs-1 mb-2"></i>
        <h5 class="fw-bold">Update Profile</h5>
        <p>Update your profile upto Date</p>
        <a routerLink="/customer/UpdateProfile" class="btn">Go</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-headset fs-1 mb-2"></i>
        <h5 class="fw-bold">Customer Support</h5>
        <p>Submit queries and get assistance</p>
        <a routerLink="/customer/support" class="btn">Go</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-currency-exchange fs-1 mb-2"></i>
        <h5 class="fw-bold">Make Transaction</h5>
        <p>Transfer money to other accounts</p>
        <a routerLink="/customer/transaction" class="btn">Go</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="action-card">
        <i class="bi bi-currency-exchange fs-1 mb-2"></i>
        <h5 class="fw-bold">View Transaction </h5>
        <p>View Transaction Details</p>
        <a routerLink="/customer/ViewTransaction" class="btn">Go</a>
      </div>
    </div>

  </div>
</div>
